{{> header}}

<div class="body">
  <h1>Productos en tiempo real</h1>
  {{> form}}
  {{> productsList}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
