<form id="productForm" class="product-form">
  <h2>Agregar producto</h2>
  <input id="productTitle" type="text" name="title" placeholder="Título" />
  <input id="productDescription" type="text" name="description" placeholder="Descripción" />
  <input id="productCode" type="text" name="code" placeholder="Código" />
  <input id="productPrice" type="number" name="price" placeholder="Precio" />
  <input id="productStock" type="number" name="stock" placeholder="Stock" />
  <input id="productCategory" type="text" name="category" placeholder="Categoría" />
  <input id="productThumbnails" type="text" name="thumbnails" placeholder="URL de imagen" />
  <button type="submit">Crear producto</button>
</form>